<configuration>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>../angst-asylum-observability/logs/policy-service-app.log</file>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"service":"policy-service"}</customFields>
            <includeMdcKeyName>traceId</includeMdcKeyName>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
